.Header{
    background-color: blanchedalmond;
    height: 5em;
    justify-content: space-between;
}

@font-face {
    font-family: BYekan;
    src: url('../fonts/BYekan-webfont.ttf');
}

*{
    font-family: 'BYekan';   
}

.welcome_to_mySite{
    background-color: blue;
}

.WhyOur__mainPage{
    background-color: aqua;
    height: max-content;
    width: 10em;
    /* flex-shrink: 1; */
    flex: 1 auto;
}

.whyOut__h3{
    color: white;
}

.MainPage img{
    width: 90vw;
}

.User{
    margin: auto auto;
    height: 20em;
    width: 20em;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.User input{
    border-radius: 3px;
}

.User input{
    background-color: rgba(253, 255, 255, 0.877);
}

.User>input::placeholder{
    text-align: right;
    color: rgb(205, 96, 255);
}

.SingUp{
    background-size: 100% 100%;
    background-image: url('../imgs/singUp.jpg');
}

@media (max-width:890px){
    .MainPage__index{
        flex-direction: column;
    }
}

@media (max-width:340px){
    .SingUp{
        width: 100%;
    }
}
